@use "../abstracts";

%flexItemsCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg);
  padding: 30px 0;

  @include abstracts.screen(lg) {
    padding: 20px 0 !important;
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }

  @include abstracts.screen(sm) {
    padding: 16px 0 !important;
  }
}

.top-bar {
  @extend %flexItemsCenter;
  position: relative;

  @include abstracts.screen(md) {
    justify-content: space-between;
  }

  &__more {
    display: none;

    @include abstracts.screen(lg) {
      display: block !important;
    }
  }
}

.navbar {
  @extend %flexItemsCenter;
  margin-left: 129px;
  position: static !important;

  @include abstracts.screen(xl) {
    margin-left: 28px !important;
  }

  @include abstracts.screen(lg) {
    display: none !important;
  }

  &__list {
    @extend %flexItemsCenter;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__item {
    &:hover .dropdown {
      display: block;
    }
  }

  &__link {
    @extend %flexItemsCenter;
    gap: 6px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.47;
    height: 50px;
    padding: 0 15px;
  }

  &__arrow {
    margin-top: 2px;
  }
}

.top-cta {
  @extend %flexItemsCenter;
  gap: 20px;
  margin-left: auto;

  @include abstracts.screen(md) {
    margin-left: 0;
  }

  &__group {
    @extend %flexItemsCenter;
    border-radius: 8px;
    background: var(--top-cta-group-bg);
    box-shadow: 0px 20px 60px 10px var(--top-cta-group-shadow);
    min-width: 50px;
    height: 50px;

    @include abstracts.screen(md) {
      display: none !important;
    }
  }

  &__group--single {
    @include abstracts.screen(lg) {
      display: none !important;
    }
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    @extend %flexItemsCenter;
    padding: 13px 20px;
    gap: 10px;
    cursor: pointer;
  }

  &__title {
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  }

  &__seperate {
    width: 1px;
    height: 30px;
    background: var(--top-cta-group-seperate);
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
  }
}
