<div class="container">
  <div class="footer__inner">
    <div class="footer__cols">
      <div class="footer__col">
        <a href="./" class="logo footer__logo">
          <img
            src="./assets/icons/logo.svg"
            alt="grocerymart"
            class="logo__img"
          />
          <h1 class="logo__title">grocerymart</h1>
        </a>
        <p class="footer__col-link footer__col-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime
          et veniam eligendi rem voluptatibus.
        </p>
        <p class="footer__col-link footer__col-news">
          Receive product news and updates.
        </p>
        <div class="footer__col-form">
          <input
            type="email"
            name=""
            id=""
            class="footer__col-input"
            placeholder="Email address"
          />
          <button class="footer__col-btn btn btn--primary">SEND</button>
        </div>
      </div>
      <div class="footer__col">
        <h3 class="footer__col-heading">SHOP</h3>
        <ul class="footer__col-links">
          <a href="#!">
            <li class="footer__col-link">All Departments</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Fashion Deals</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Electronics Discounts</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Home & Living Specials</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Beauty Bargains</li>
          </a>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__col-heading">SUPPORT</h3>
        <ul class="footer__col-links">
          <a href="#!">
            <li class="footer__col-link">Store locator</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Order status</li>
          </a>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__col-heading">COMPANY</h3>
        <ul class="footer__col-links">
          <a href="#!">
            <li class="footer__col-link">Customer Service</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Terms of Use</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Privacy</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Careers</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">About</li>
          </a>
          <a href="#!">
            <li class="footer__col-link">Affiliates</li>
          </a>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__col-heading">CONTACT</h3>
        <div class="footer__col-info">
          <p class="footer__col-link">Email</p>
          <p class="">contact@grocerymart.com</p>
        </div>
        <div class="footer__col-info">
          <p class="footer__col-link">Hotline</p>
          <p>18008888</p>
        </div>
        <div class="footer__col-info">
          <p class="footer__col-link">Address</p>
          <p>
            No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay
            District, City. Hanoi
          </p>
        </div>
        <div class="footer__col-info">
          <p class="footer__col-link">Hours</p>
          <p>M - F 08:00am - 06:00pm</p>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">
        © 2010 - 2025 Grocery Mart. All rights reserved.
      </p>
      <div class="footer__socials">
        <a
          href="#!"
          class="footer__socials-link footer__socials-link--facebook"
        >
          <img
            src="./assets/icons/facebook.svg"
            alt=""
            class="footer__socials-icon"
          />
        </a>
        <a href="#!" class="footer__socials-link footer__socials-link--youtube">
          <img
            src="./assets/icons/youtube.svg"
            alt=""
            class="footer__socials-icon"
          />
        </a>
        <a href="#!" class="footer__socials-link footer__socials-link--tiktok">
          <img
            src="./assets/icons/tiktok.svg"
            alt=""
            class="footer__socials-icon"
          />
        </a>
        <a href="#!" class="footer__socials-link footer__socials-link--twitter">
          <img
            src="./assets/icons/twitter.svg"
            alt=""
            class="footer__socials-icon"
          />
        </a>
        <a
          href="#!"
          class="footer__socials-link footer__socials-link--linkedin"
        >
          <img
            src="./assets/icons/linkedin.svg"
            alt=""
            class="footer__socials-icon"
          />
        </a>
      </div>
    </div>
  </div>
</div>
